/* styles.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 60px;
  text-align: center;
}

/* Hide arrows in input type number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard */
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px; /* Reducido el margen inferior */
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Ajuste del margen superior del contenedor de la matriz */
.matrix-container {
  margin-top: 20px;
}

/* Matrix input styles */
.matrix-grid {
  display: grid;
  gap: 5px;
  max-width: 100%;
}

input[type="number"].matrix-cell {
  width: 40px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}

/* Result styles */
.results {
  text-align: center;
  margin-top: 20px;
}

.results ul {
  list-style: none;
  padding: 0;
}

.results li {
  background-color: #e9ecef;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

/* Graph container styles */
#graph-container {
  margin-top: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
